{% block title %}Notifications - Lumify
{% endblock %}

{% block body %}
	{% include 'posts/sidebar.html.twig' %}
	<div class="bg-black text-zinc-200 min-h-screen">
		<div class="py-8 px-4 mx-auto max-w-screen-xl">
			<div class="text-center lg:mb-16 mb-8">
				<h2 class="mb-4 text-4xl font-extrabold text-white">Vos notifications</h2>
				<span class="bg-rose-900 text-rose-300 text-base font-medium me-2 px-2.5 py-0.5 rounded-full">Vous avez
					<span class="font-black">2</span>
					notifications.</span>
			</div>
			<div class="grid gap-8 lg:grid-cols-1">
				<article class="p-6 bg-zinc-800 rounded-2xl">
					<div class="flex justify-between items-center mb-5 text-zinc-500">
						<span class="text-sm">23/01/2025</span>
					</div>
					<h2 class="mb-2 text-2xl font-bold text-white">
						Bienvenue dans Lumify !
					</h2>
					<p class="mb-5 font-light text-zinc-400">Ut sit dolor minim consequat nulla Lorem anim laborum officia. Veniam tempor non non veniam et eiusmod aute proident laborum sunt. Amet fugiat aute sunt officia id ea sunt deserunt veniam fugiat nostrud adipisicing irure. Aute nisi adipisicing sint cupidatat eu dolore laboris fugiat veniam nulla id.</p>
				</article>
				<article class="p-6 bg-zinc-800 rounded-2xl">
					<div class="flex justify-between items-center mb-5 text-zinc-500">
						<span class="text-sm">23/01/2025</span>
					</div>
					<h2 class="mb-2 text-2xl font-bold text-white">
						Nouvelle fonctionnalité : Notifications
					</h2>
					<p class="mb-5 font-light text-zinc-400">Sit exercitation enim aliqua culpa deserunt est nostrud est qui minim. Reprehenderit et do exercitation reprehenderit incididunt ut incididunt ipsum sint labore. Exercitation dolore culpa eiusmod laboris ex duis reprehenderit exercitation elit exercitation. Consectetur ad consectetur ex cillum.</p>
				</article>
			</div>
		</div>
	</div>
{% endblock %}
