{% block title %}Toutes les publications
{% endblock %}

{% block body %}
	{% include 'posts/sidebar.html.twig' %}
	<div class="bg-black text-zinc-200 min-h-screen">
		<div class="max-w-2xl mx-auto py-12 px-6">
			<span class="flex flex-wrap text-4xl font-extrabold text-white text-center justify-center mb-10">
				Les publications&nbsp;&nbsp;
				<span class="relative flex size-6">
					<span class="absolute inline-flex h-full w-full animate-ping rounded-full bg-red-400 opacity-75"></span>
					<span class="relative inline-flex size-6 rounded-full bg-red-500"></span>
				</span>
				<span class="text-red-500">&nbsp;&nbsp;EN DIRECT</span>
			</span>
			{% for post in posts %}
				<div class="bg-gradient-to-br from-zinc-800 to-zinc-900 p-6 rounded-lg shadow-lg hover:shadow-2xl transition-shadow duration-300 mb-6">
					<p class="font-semibold text-lg text-red-400">{{ post.user.username }}</p>
					<p class="mt-2 text-zinc-300">
						{{ post.content }}
					</p>
					<p class="text-sm text-zinc-500 mt-4">
						<em>Publié le
							{{ post.createdAt|date('d/m/Y H:i') }}</em>
					</p>
					<a href="{{ path('posts_show', { id: post.id }) }}" class="text-red-400 hover:underline">
						Voir les commentaires
					</a>
				</div>
			{% else %}
				<p class="text-center text-zinc-400 italic">
					Aucune publication disponible pour le moment.
				</p>
			{% endfor %}
		</div>
	</div>

{% endblock %}
