{% block title %}Rechercher - Lumify
{% endblock %}

{% block body %}
	{% include 'posts/sidebar.html.twig' %}
	<div class="bg-black text-zinc-200 min-h-screen">
		<div class="py-8 px-4 mx-auto max-w-screen-xl">
			<div class="text-center lg:mb-16 mb-8">
				<h2 class="mb-4 text-4xl font-extrabold text-white">Que recherchez-vous ?</h2>
			</div>

			<form class="max-w-lg mx-auto flex">
				<button id="dropdown-button" data-dropdown-toggle="dropdown" class="shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-white bg-zinc-700 border border-zinc-600 rounded-s-lg hover:bg-zinc-600 :ring-4 focus:outline-none focus:focus-zinc-700" type="button">Toutes les catégories&nbsp;&nbsp;
					<img src="{{ asset('img/icons/arrow-down.png') }}" class="h-5" alt="Arrow Down Icon"/>
				</button>
				<div id="dropdown" class="z-10 bg-zinc-700 hidden divide-y divide-zinc-100 rounded-2xl w-44">
					<ul class="py-2 text-sm text-zinc-700 text-zinc-200" aria-labelledby="dropdown-button">
						<li>
							<button type="button" class="inline-flex w-full px-4 py-2 hover:bg-zinc-100 hover:bg-zinc-600 hover:text-white">Publications</button>
						</li>
						<li>
							<button type="button" class="inline-flex w-full px-4 py-2 hover:bg-zinc-100 hover:bg-zinc-600 hover:text-white">Profils</button>
						</li>
						<li>
							<button type="button" class="inline-flex w-full px-4 py-2 hover:bg-zinc-100 hover:bg-zinc-600 hover:text-white">Photos</button>
						</li>
						<li>
							<button type="button" class="inline-flex w-full px-4 py-2 hover:bg-zinc-100 hover:bg-zinc-600 hover:text-white">Vidéos</button>
						</li>
					</ul>
				</div>
				<div class="relative w-full">
					<input type="search" id="search-dropdown" class="block p-2.5 w-full z-20 text-sm text-white bg-zinc-700 border-s-zinc-50 border-s-2 border border-zinc-600 focus:ring-pink-500 focus:border-pink-500 placeholder-zinc-400" placeholder="Rechercher..." required/>
					<button type="submit" class="absolute top-0 end-0 p-2.5 text-sm font-medium h-full text-white bg-pink-600 rounded-e-lg border border-pink-700 hover:bg-pink-700 focus:ring-4 focus:outline-none focus:ring-pink-800">
						<img src="{{ asset('img/icons/search.png') }}" class="h-5" alt="Search Icon"/>

						<span class="sr-only">Rechercher</span>
					</button>
				</div>
			</form>

		</div>
	</div>
{% endblock %}
