{% extends 'base.html.twig' %}

{% block title %}Erreur 404 - Lumify
{% endblock %}

{% block body %}
	<section>
		<div class="py-8 px-4 mx-auto max-w-screen-xl">
			<div class="text-center">
				<h1 class="mb-4 text-9xl font-extrabold text-rose-500">404</h1>
				<p class="mb-4 text-4xl font-bold text-white">Oups, quelque chose s'est mal passé.</p>
				<p class="mb-4 text-lg font-light text-zinc-400">Désolé, nous n'avons pas trouvé votre page.
				</p>
				<a href="/" class="inline-flex justify-center items-center py-3 px-5 font-semibold text-center text-white rounded-lg bg-rose-700 hover:bg-rose-800 transition-all">Retourner en arrière
					<svg class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
					</svg>
				</a>
			</div>
		</div>
	</section>
{% endblock %}
